body{
	background: #FDF2FE
}
.b{margin-left: 75%;
	color: #A24EF5
}
.a{
	float: right;
	background: #CEA8F7

}

p { text-align: center;
	font-family: Arial Black;
}
#p2{ font-size: 150%; 
	font: bold, oblique;
	font-family: Comic Sans MS;
	color: #AD1E8E;
}
.img{
	margin-left: 20%;
	margin-right: 25%;
}
.tbl{
	float: left;
	background: #EC94D9;
}
.par{
	margin-top: 10%;
	margin-left: 25%;
	margin-right: 25%;
	
	background: #FFFFFF;
}


